[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "bm_common_messages"]
	path = bm_common_messages
	url = https://github.com/bristlemouth/bm_common_messages.git
